/* Testing */
#map {
  display: block;
  z-index: inherit;
  background: #000;
}

/*  */
#Dashboard {
  display: flex;
}

/* RIGHT SIDE OF THE PAGE #MAIN DASHBOARD */
.mainDashboardPage {
  margin: 2vh 3vw;
}
/* Dashboard navbar styling */
.dashboardNav {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}
.signedUserDetails {
  display: flex;
  align-items: center;
}
.signedUserText p {
  font-size: small;
}
.signedUserPic {
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 20px;
  margin: 0 1px;
}

/* DASHBOARD PAGE */
.dashCards {
  display: flex;
  width: 50vw;
  height: 10vh;
  margin: 2vh 0;
}
/* Designing Cards */
.dashCard {
  width: 15vw;
  height: 45vh;
  border-radius: 20px;

  box-shadow: 1px 1px 3px #121212;
  margin: 5px;
}

/* Map Css */
.deliveryMapButtons {
  position: absolute;
  top: 80vh;
  background: #c46a6a;
  z-index: 2;
}
.deliveryMapButtons ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}
#DeliveryMap {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 10%;
  top: 10%;
  height: 80vh;
  width: 80vw;
}
#CloseMapBtn {
  position: fixed;
  top: 2.5vh;
  left: 12.5vw;
  background: red;
  z-index: 2;
}
