#FirstNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh;
}

/* CSS to give space between navbar buttons*/
.firstNavBtns {
  display: flex;
  justify-content: space-evenly;
  /* Navbar button area Styling */
  background: #121212;
  border-radius: 16px;
}

/* CSS to style navbar buttons */
.firstNavBtns ul {
  list-style: none;
  display: flex;
}
.firstNavBtns ul li {
  padding: 12px 30px;
}
.firstNavBtns ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
/* Hover effect to navbar buttons */
.firstNavBtns ul li:hover {
  background: rebeccapurple;
  border-radius: 16px;
}
